@model MVC_ECommerceWebsite.Models.Siniflar.Cari
@{
    ViewBag.Title = "CariGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />
<h2>Cari Güncelleme Sayfası</h2>
<br />

@using (Html.BeginForm("CariGuncelle", "Cari", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x => x.Cariid)
        @Html.LabelFor(x => x.CariAd)
        @Html.TextBoxFor(x => x.CariAd, new { @class = "form-control" })
        <div class="alert-warning">@Html.ValidationMessageFor(x => x.CariAd, "", new { @style = "color:red ;font-weight:bold" })</div>
        <br />
        @Html.LabelFor(x => x.CariSoyad)
        @Html.TextBoxFor(x => x.CariSoyad, new { @class = "form-control" })
        <div class="alert-warning">@Html.ValidationMessageFor(x => x.CariSoyad, "", new { @style = "color:red ;font-weight:bold" })</div>
        <br />
        @Html.LabelFor(x => x.CariSehir)
        @Html.TextBoxFor(x => x.CariSehir, new { @class = "form-control" })
        <br />
        @Html.LabelFor(x => x.CariMail)
        @Html.TextBoxFor(x => x.CariMail, new { @class = "form-control" })
        <div class="alert-warning">@Html.ValidationMessageFor(x => x.CariMail, "", new { @style = "color:red ;font-weight:bold" })</div>
        <br />
        <button class="btn btn-default" style="background-color:darkgreen; color:white; font-weight:bold ">Güncelle</button>
    </div>

    
}