@model MVC_ECommerceWebsite.Models.Siniflar.Personel
@{
    ViewBag.Title = "PersonelEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Yeni Personel Sayfası</h2>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(p => p.PersonelAd)
    @Html.TextBoxFor(p => p.PersonelAd, new {@class="form-control"})
    <br />
    @Html.LabelFor(p => p.PersonelSoyad)
    @Html.TextBoxFor(p => p.PersonelSoyad, new { @class = "form-control" })
    <br />
    @Html.LabelFor(p => p.PersonelGorsel)
    @Html.TextBoxFor(p => p.PersonelGorsel, new { @class = "form-control" })
    <br />
    @Html.LabelFor(p => p.Departman.DepartmanAd)
    @Html.DropDownListFor(p => p.Departmanid, (List<SelectListItem>)ViewBag.Deger1,new{@class="form-control"})
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>

